.emailthing{
    position: relative;
    font-weight: bolder;
    margin-right: 100%;
    margin-bottom: 2%;
}

.addNote {
    display: flex;
    justify-content: center; 
    align-items: center;    
    border-radius: 50%;      
    font-size: 300%;
    font-weight: bolder;
    background-color: whitesmoke;
    width: 150px;             
    height: 150px;            
    margin-top: 5%;
    line-height: 1;    
    margin-left: 45%;
}
.descriptionthing{
    width: 92%;
}