.paragraph{
    background-color: whitesmoke;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 10px;
}
.paragraph1{
    border: 1px solid black;
}

.PBLButtons{
    margin-top: 2%;
    margin-bottom: 1%;
}
.PBLButton{
    position: relative;
    background-color: #ECF4FF;
    margin-left: 5%;
    margin-right: 5%;
}

.Headline{
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: xx-large;
    font-weight: bolder;
    
}
.Title{
    font-size: x-large;
    position: relative;
    left: 8%;
}
.Rule{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    left: 8%;
    width: 92%; 
}
.deleteButton{
    position: relative;
    margin-right: 100%;
    bottom: 67%;
    background-color: whitesmoke;
    font-weight: bolder;
}

.deleteButton:hover{
    background-color: #f33;
    color: whitesmoke;
}

.titleInp{
    position: relative;
    border: 1px solid black;
    margin-bottom: 10%;
}

.ruleInp{
    position: relative;
    border: 1px solid black;
    margin-bottom: 10%;
    width: 150%;
    height: 150px;
    right: 30%;
}

.submit{
position: relative;

}
.tableClass{
    position: relative;
    left: 45%;
}
.inputFields{
    border: 1px solid black;
}