.TopContainer {
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 0%;
}

.CalendarViewContainer {
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 80vh;
}

.button-box {
    width: fit-content;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;
    background-color: white;
    height: 50px;
}

.toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    top: 5px;

}

.btn {
    position: absolute;
    width: 110px;
    height: 79%;
    background-color: aquamarine;
    border-radius: 30px;
    transition: .5s;
    top: 10%;
}

:focus {
    outline: 0 !important;
}

