#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.NavbarContainer {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 20%;
  background-color: burlywood;
}

.test {
  width: 100%;
  height: fit-content;
  border: solid 2px red;
}

.row {
  position: relative;
  left: 60%;
  width: 100%;
  background-color: blue;
}

.rowContainer {
  width: 100%;
  background-color: pink;
}

.loginRegisterTable {
  width: 100%;
  height: fit-content;
  background-color: red;
}

.contenttest {
  height: 10%;
  width: 10vw;
}

.NavBarTable {
  width: 100%;
}

.PageContainer {
  position: absolute;
  left: 20%;
  top: 0%;
  min-height: 100vh;
  height: fill;
  width: 80%;
  background-color: white;
}

.NavCalendarButton, .NavTeamwallButton, .NavPBLButton, .NavPointsButton, .NavSessionButton {
  background-color: white;
  border: solid 6px blue;
  border-radius: 100px;
  width: 90px;
  height: 90px;
}

.NavButtonRow{
  position: relative;
  left: 64%;
}

.CalendarHoverText , .TeamwallHoverText, .PBLHoverText, .PointsHoverText, .SessionHoverText {
  display: none;
}

.NavCalendarButton:hover + .CalendarHoverText{
  display: block;
  position: absolute;
  top: 12%;
  left: 65%;
}



.NavTeamwallButton:hover + .TeamwallHoverText {
  display: block;
  position: absolute;
  left: 65%;
  top: 19.5%;
}

.NavPBLButton:hover + .PBLHoverText {
  display: block;
  position: absolute;
  left: 65%;
  top: 27%;
}

.NavPointsButton:hover + .PointsHoverText {
  display: block;
  position: absolute;
  left: 65%;
  top: 34%;
}

.NavSessionButton:hover + .SessionHoverText {
  display: block;
  position: absolute;
  left: 65%;
  top: 41.5%;
}